body {
    background: #e9eaed;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* HOMEPAGE AND BASE */

.header{
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

@media screen and (min-width: 768px) {
    .header{
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 30px;
    }
}

.shop {
background: #fff;
border: 1px solid;
border-color: #e5e6e9 #dfe0e4 #d0d1d5;
-webkit-border-radius: 3px;
padding: 20px;
margin: 20px 0px;
}



.shop-homepage {
    display: inline-block;
    /* min-width: 224px; */
    padding: 5px;
    margin: 19px;
}
.shop-homepage img {
    max-width: 100%;
    max-height: 100px;
    text-align: center;
}
.shop-homepage h4 {
    color: rgb(70, 70, 70);
    
}
    

