{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}Commercesdepont.fr{% endblock %}</title>
{% block css %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}
</head>
<body>
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">Evenements</a></li>
            <li><a href="#">Rejoindre</a></li>
            <li><a href="#">Se connecter</a></li>
        </ul>
        <h3 class="text-muted">Commercesdepont.fr</h3>
    </div>

{% block content %}
{% endblock %}
</div>

{% block js %}
{# <script src="{% static "js/jquery.js" %}"></script> <script src="{% static "js/bootstrap.js" %}"></script> #}
{% endblock %}
</body>
</html>

